/ProblemSolving/nbproject/private/
/ProblemSolving/build/
/JavaCrawler/nbproject/private/
/JavaCrawler/build/
/Codility/nbproject/private/
/MultiThreading/nbproject/private/
/formateDateRTL/nbproject/private/
/formateDateRTL/build/
/ProblemSolving/dist/
/constructs/nbproject/private/
/constructs/build/
/Contests/nbproject/private/
/Contests/build/
/Algorithms/nbproject/private/
/Algorithms/build/
/goeuro/nbproject/private/
/DataStructures/nbproject/private/
/DataStructures/build/
/DesignPatterns/nbproject/private/
/Searching&Sorting/nbproject/private/
/Searching&Sorting/build/
/Scripts/nbproject/private/
/Scripts/build/