/ProblemSolving/nbproject/private/
/ProblemSolving/build/
/JavaCrawler/nbproject/private/
/JavaCrawler/build/
/Codility/nbproject/private/
/MultiThreading/nbproject/private/
/formateDateRTL/nbproject/private/
/formateDateRTL/build/
/ProblemSolving/dist/
/constructs/nbproject/private/
/constructs/build/
/Contests/nbproject/private/
/Contests/build/
/Algorithms/nbproject/private/
/Algorithms/build/